<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header" />
<style>
  .fieldError {
    border-color: #bd2130;
  }
</style>
<body>
<div class="container">
  <div th:replace="layout/navbar :: bodyHeader"/>
  <form th:object="${updateMovie}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div class="form-group">
      <label th:for="name">상품명</label>
      <input type="text" th:field="*{name}" class="form-control"
             placeholder="이름을 입력하세요" th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect data</p>
    </div>
    <div class="form-group">
      <label th:for="price">가격</label>
      <input type="number" th:field="*{price}" class="form-control"
             placeholder="가격을 입력하세요" th:class="${#fields.hasErrors('price')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Incorrect data</p>
    </div>
    <div class="form-group">
      <label th:for="stockQuantity">수량</label>
      <input type="number" th:field="*{stockQuantity}" class="form-control" placeholder="수량을 입력하세요"
             th:class="${#fields.hasErrors('stockQuantity')}? 'form-control fieldError' : 'form-control'" >
      <p th:if="${#fields.hasErrors('stockQuantity')}" th:errors="*{stockQuantity}">Incorrect data</p>
    </div>
    <div class="form-group"> <label th:for="director">감독</label>
      <input type="text" th:field="*{director}" class="form-control"
             placeholder="감독을 입력하세요" th:class="${#fields.hasErrors('director')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('director')}" th:errors="*{director}">Incorrect data</p>
    </div>
    <div class="form-group">
      <label th:for="actor">배우들</label>
      <input type="text" th:field="*{actor}" class="form-control"
             placeholder="주연 배우들을 입력하세요." th:class="${#fields.hasErrors('actor')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('actor')}" th:errors="*{actor}">Incorrect data</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br/>
  <div th:replace="layout/footer :: footer" />
</div> <!-- /container -->
</body>
</html>